:root {
    --primary-color: #0F62F1;
    --light-text: #7A8193;
    --dark-blue: #1D2B4F;
    --white: #ffffff;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--white);
}
/* OVERALL STYLING OF THE NAVBAR - MOBILE */
nav {
    position: sticky;
    top: 0;
    background-color: white;
    opacity: .9;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5%;
    z-index: 3;
}
    /* Nav-logo */
.logo {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: auto;
}
    /* Hamburger button */
.hamburger {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    background-color: red;
    z-index: 2;
}

    /* Styling the Navigation Links */
.menu--links > * {
    cursor: pointer;
}

.links--container {
    visibility: hidden;
    position: absolute;
    width: 75%;
    height: 100vh;
    background-color: var(--primary-color);
    opacity: .95;
    list-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    top: 0;
    right: 0;
    z-index: 1;
    /* animation: menu-slide-in 3s ease-out; */
    /* animation: menu-slide-out 3s ease-out; */
}

@keyframes menu-slide-in {
    0% {
        left: 100%;
    } 
    100% {
        left: 25%;
    }
}

@keyframes menu-slide-out {
    0% {
        left: 25%;
        visibility: visible;
    }
    100% {
        left: 100%;
        visibility: hidden;
    }
}

.links--container > li {
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes text-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text-disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

    /* Contact us button */
.links--container > li:last-of-type {
    width: fit-content;
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: .5rem .5rem;
    border-radius: 1.5rem;
    margin-left: .5rem;
}

.links--container> li > a {
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding-bottom: .1rem;
}    

.links--container > li > a:hover {
    border-bottom: 3px solid var(--white);
}

.active-link {
    border-bottom: 3px solid var(--white);
}

/* OVERALL STYLING OF THE HERO-SECTION - MOBILE */
.hero {
    margin: auto;
    padding: 2rem 1rem 2rem 1rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    background: url("../images/photo1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px #0f62f188;
}

.hero-info--img {
    display: none;
}

    /* Styling the Hero section with description of the site */
.hero-info--description {
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.hero-info--description > h1 {
    font-size: 2.25rem;
    text-align: center;
    color: white;
}

.hero-info--description > p {
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: .9;
}

.book-appointment {
    width: fit-content;
    margin: auto;
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    transition: transform 300ms ease;
}

.book-appointment:hover {
    transform: scale(1.1);
}

    /* Styling the Stats bar in Dark Violet */
.hero-stats {
    width: 100%;
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    justify-content: center;
    border-radius: .5rem;
}

.hero-stats > .stats:nth-of-type(2){
    border-right: 1px solid var(--light-text);
    border-left: 1px solid var(--light-text);
}

.stats {
    border-bottom: 1px solid var(--light-text);
    padding: 2rem 0;
}

.stats > p {
    font-size: 1.5rem;
    font-weight: 700;
}

.stats > p > span {
    font-size: .85rem;
    color: var(--light-text);
    font-weight: normal;
}

/* OVERALL STYLING OF THE SERVICES SECTION - MOBILE */
#services {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 3rem;
    padding: 4rem 0;
}

#services p {
    color: var(--light-text);
}

.services--description {
    display: grid;
    gap: 1rem;
}

.services--description h1 {
    color: var(--dark-blue);
    font-size: 2rem;
}

    /* Styling the service listing */
.services--listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    align-items: center;
    gap: 1.5rem;
}

.services--listing .service {
    /* background-color: lightcoral; */
    display: grid;
    gap: .3rem;
}

.services--listing > .service > div {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    opacity: .1;
    border: none;
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.services--listing > .service > h3 {
    color: var(--dark-blue);
}

/* OVERALL STYLING OF BOOK AN APPOINTMENT CTA SECTION */
.cta {
    position: relative;
    width: 90%;
    margin: 0 auto 3rem auto;
    background-color: var(--primary-color);
    color: white;
    border-radius: .5rem;
    padding: 4rem 2rem;
}

.cta h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
    z-index: 2;
}

/* OVERALL STYLING OF THE FOOTER SECTION - MOBILE */
footer {
    width: 90%; 
    margin: auto;
    padding-bottom: 2rem;
}

footer > .footer-links {
    width: 100%;
    margin: auto;
    color:var(--light-text);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
}

footer h1 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer a {
    color: var(--light-text);
    text-decoration: none;
    transition: color 300ms ease;
}

footer a:hover {
    color: var(--primary-color);
}

.footer-links > div {
    display: grid;
    gap: 1rem;
}

.footer-links .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons > * {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: .25rem .5rem;
}

.footer-links .newsletter input[type="email"] {
    /* width: 16rem; */
    width: 100%s;
    color: var(--light-text);
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: .65rem 1rem;
}

.footer-links .newsletter {
    width: fit-content;
    position: relative;
}

.footer-links .newsletter::after {
    position: absolute;
    content: ">";
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    display: grid;
    place-items: center;
    border: none;
    border-radius: 50%;
    top: 14%;
    bottom: 25%;
    right: 5%;
}

.copyright {
    color: var(--dark-blue);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}




@media screen and (min-width: 1200px) {
    /* OVERALL STYLING OF THE NAVBAR - DESKTOP */
    nav {
        position: sticky;
        top: 0;
        width: min(85%, 90rem);
        margin: auto;
        opacity: .9;
        display: flex;
    }

    .menu-container {
        width: 50%;
    }

    .hamburger {
        display: none;
    }

    .links--container {
        visibility: visible;
        width: 100%;
        height: 100%;
        position: initial;
        background-color: var(--white);
        opacity: 1;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .links--container> li > a {
        color: var(--light-text);
        font-size: 1rem;
        text-decoration: none;
        padding-bottom: .1rem;
    }
    
    .links--container > li:last-of-type {
        background-color: var(--primary-color);
        width: fit-content;
        color: white;
        font-size: 1rem;
        padding: .5rem .5rem;
        border-radius: 1.5rem;
        transition: color 300ms ease;
        transition: background-color 300ms ease;
    }

    .links--container > li:last-of-type:hover {
        color: var(--primary-color);
        background-color: var(--white);
        border: 1px solid var(--primary-color)
    }
    

    .links--container > li > a:hover {
        border-bottom: 3px solid var(--primary-color);
    }
    
    .active-link {
        border-bottom: 3px solid var(--primary-color);
    }

    /* OVERALL STYLING OF THE HERO-SECTION - DESKTOP */
    .hero {
        width: min(85%, 90rem);
        padding: 2rem 0;
        gap: 0;
        background: var(--white);
        box-shadow: none;
    }

    .hero-info {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
    }
    
    .hero-info--img {
        display: initial;
        text-align: center;
    }

    .hero-info--img img {
        max-width: 100%;
    }
    
    .hero-info--description {
        margin-right: 2rem;
    }
    
    .hero-info--description > h1 {
        font-size: 3.5rem;
        text-align: left;
        color: var(--dark-blue);
    }
    
    .hero-info--description > p {
        font-size: 1.5rem;
        text-align: left;
        color: var(--light-text);
    }
    
    .book-appointment {
        margin: 0;
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 2.5rem;
    }
    
    .hero-stats {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        border-radius: 1rem;
        margin-top: -10px;
        padding: 1rem 0;
    }
    
    .stats {
        border-bottom: none;
    }

    /* OVERALL STYLING OF THE SERVICES SECTION - DESKTOP */
    #services {
        width: min(85%, 90rem);
        margin: auto;
        display: grid;
        gap: 3rem;
        padding: 3rem 0 5rem 0;
    }

    .services--description {
        grid-template-columns: 50% 50%;
        align-items: center;
        gap: 3rem;
    }

    .services--description h1 {
        font-size: 2.5rem;
    }

    /* OVERALL STYLING OF BOOK AN APPOINTMENT CTA SECTION - DESKTOP */
    .cta {
        width: min(85%, 90rem);
        color: white;
        border-radius: 1rem;
        padding: 7rem 5rem;
    }

    .cta h1 {
        font-size: 2.75rem;
        font-weight: 700;
        margin-bottom: 4rem;
        z-index: 2;
    }

    .cta .book-appointment {
        font-size: 1.5rem;
        background-color: var(--white);
        color: var(--primary-color);
    }

    /* OVERALL STYLING OF THE FOOTER SECTION - DESKTOP */
    footer {
        width: min(85%, 90rem)
    }

    .footer-links .newsletter input[type="email"] {
        width: 18rem;
    }

    .footer-links .newsletter::after {
        right: 5%;
    }    
}

/* STYLING THE MODAL WINDOW */
.book-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0f62f18f;
    top: 0;
    left: 0;
}

.book-modal__content {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: var(--white);
    padding: .5rem 1rem 1rem 1rem;
    border-radius: .5rem;
    z-index: 10;
    top: 15%;
}

.book-modal__content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.book-modal__content header p {
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
    cursor: pointer;
}

.book-modal__content form > label {
    color: var(--dark-blue);
    font-size: 1.1rem;
    margin-right: 1rem;
}

.book-modal__content form > input {
    padding: .25rem .5rem;
    border: 1px solid lightgray;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

.book-modal__content fieldset {
    border: none;
}

.book-modal__content fieldset legend {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.book-modal__content fieldset label {
    margin-right: 1rem;
    color: var(--dark-blue);
    font-weight: 500;
}

.book-modal__content fieldset input {
    margin-bottom: .5rem;
}

.book-modal__content .sex {
    margin-bottom: .5rem;
}

.book-modal__content select {
    width: 18rem;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: .3rem;;
    padding: .3rem .5rem;
    margin-bottom: 1rem;
}

.book-modal__content form label[for="booking-msg"] {
    padding-bottom: .5rem;
    color: var(--dark-blue);
}

.book-modal__content form textarea{
    border: 1px solid lightgray;
    border-radius: .3rem;
    padding: .3rem .5rem;
    margin-top: .2rem;
}

.book-modal__content form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    padding: .5rem 1rem;
    margin-top: .5rem;
}

@media screen and (min-width: 530px) {
    .book-modal__content {
        width: 460px;
    }
}













































